
<div class="container">

<nav class="navbar navbar-default navbar-static-bottom" role="navigation">
<center>
 Copyright 2013 - Dimension Media
</center>
</nav>

</div>
<!--
<div class="container">
<p style="color:black;font-size:small" >Copyright 2013 - Dimension Media</p>
</div>

-->
<!-- JQuery required for Bootstrap and other things -->
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="/js/holder.js"></script>
  <!--
  <script src="/js/bootstrap.min.js"></script>
  -->
  <script>
	$( document ).ready(function() {
    	console.log( "ready!" );
	
	});

  </script>
<body>

</html>